git+https://github.com/v-wewei/etw_pytorch_utils.git@v1.1.1#egg=etw_pytorch_utils
h5py
numpy
torch
torchvision
enum34
future
pandas
shapely
matplotlib
pomegranate
scikit-learn
ipykernel
jupyter
imageio
pyquaternion
